<!DOCTYPE html>
<html>

<head>


    <title>Pill Care</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/ljz.css">
    <script type="text/javascript" src="side.js"></script>

</head>


<body>


    <div class="sidebar block" style="width:15%">
        <h3 class="itemBar" style="color: black;">Menu</h3>
        <a href="#home" class="itemBar button">Back to Top</a>
        <a href="#what" class="itemBar button">What it Does</a>
        <a href="/kvp" class="itemBar button">Our KVP</a>
        <a href="#emap" class="itemBar button">Empathy map</a>
        <a href="#item1" class="itemBar button">Our Mock-Up</a>
        <a href="#item2" class="itemBar button">Laws of UI Design</a>
        <a href="#who" class="itemBar button">Target Customer</a>
        <a href="#why" class="itemBar button">Our Benefits</a>
        <a href="#vdo" class="itemBar button">More Info</a>
        <a href="#contact" class="itemBar button">Our Team</a>
    </div>

    <div style="margin-left:15%" id="home">

        <ul class="side">
            <li class="side2 side1"> <a class="side2" href="/"><img src="tt2.png" style="width:213px;height:70px;"></a>
            </li>
            <li class="side2 side1"><a class="side2" href="/kvp">Our KVP</a></li>
            <li class="side2 side1"><a class="side2" href="#item2">Laws of UI Design</a></li>
            <li class="side2 side1"><a class="side2" href="#item1">Our Mock-Up</a></li>
            <li class="side2 side1"><a class="side2" href="#how">How it Works</a></li>
            <li class="side2 side1"><a class="side2" href="#contact">Contact</a></li>
        </ul>
        <p> Hello! My name is Junzhe Luo. and I am a EE
            student from UCSD. I am one of member in the team Pill Care </p>
        <div class="pic">
            <img src="old.jpg" />
        </div>


        <hr>
        <div id="what">
            <h2 class="why">what it does</h2>
            <li class="why2">A pill-taking reminder consists of multiple stickers and a box. Family members can help the
                patients set up the alarm by recording their voices and sticking the sticker to the bottom of the pill
                bottle. They also need to set up the alarm time per day.
            </li>
            <li class="why2">During the time the user needs to take pills, the alarm will sound indicating which
                sticker/pills they need to take with the pre-recorded sounds from their family members/physicians. The
                user then can take the bottle next to the reminder, if it’s the correct one, the reminder will state
                that it's correct and the amount the user should take each time; if it's not, the reminder will ask the
                user to try another bottle.
            </li>
            <li class="why2">Pill Care also comes with a screen that can be attached to the Pill Care to display large
                font text for hearing-impaired elders.
            </li>
            <li class="why2">Pill Care also incorporates an app which sends notification to the user and the family
                whether pills need to be taken, and when the pills are taken by the patient.
            </li>
        </div>
        <hr>
        <div id="who">
            <h2 class="why">who the product is for</h2>
            <h3>Family members who:</h3>
            <section class="why">
                <aside>
                    Have elders need to take pills frequently
                </aside>
                <aside>
                    Have elders with vision or hearing problems
                </aside>
                <aside>
                    Can’t be around the elders 24/7
                </aside>
                <aside>
                    care a lot for their families
                </aside>
            </section>
        </div>
        <hr>
        <div id="how">
            <h2 class="why">Med management in 4 easy steps each phases: </h2>
            <h3 class="why">There are 2 phases for using our product: </h3>
            <h4>Set up phase:</h4>
            <section class="why">
                <aside>
                    <p>1. John stick the stickers to one of the pill bottle
                    </p>
                    <p>2. John put the bottle on the Pill Care
                    </p>
                    <p>3. Pill Care “Bipped, start recording voice”
                    </p>
                    <p>4. John: “Grandma, please take this pill 3 pieces now, It’s john, love ya!”
                    </p>
                    <p>5. John then set up the time on the screen of PillCare</p>


                </aside>
                <aside>
                    <img style="vertical-align:top" src="ph1.png" width="300">
                </aside>
            </section>

            <h4>Use Phase:</h4>
            <section class="why">
                <aside>
                    <p>1. It’s 7:00 pm! Pill Care says:“Pill Time!”</p>
                    <p>2. Grandma hold up one of the pill bottle and put it on Pill Care </p>
                    <p>3. “Not this one! Try another one please!”</p>
                    <p>4. Grandma tries another pill bottle</p>
                    <p>5. “This one! “Grandma, please take this pill 3 pieces now, it’s John, love ya!”</p>
                    <p>6. Grandma then happily takes the pill for 3 pieces with the love of his grandson in heart.</p>
                </aside>
                <aside>
                    <img style="vertical-align:top" src="ph2.png" width="300">
                </aside>
            </section>
        </div>
        <hr>
        <div id="emap">
            <h2 class="why">Empathy Map </h2>
            <h3 class="why">USER EMPATHY MAP</h3>
            <h4 class="why">Using PIll Care for pill taking</h4>
            <div class="pic">
                <img src="useremap.png" width="900">
            </div>
            <hr>
            <h3 class="why">CUSTOMER EMPATHY MAP</h3>
            <h4 class="why">Reminding Grandma for her medication</h4>
            <div class="pic">
                <img src="csemap.png" width="900">
            </div>

        </div>
        <hr>
        <div id="item1">
            <h2 class="why">Our Mock-Up</h2>
            <section class="why">
                <aside>
                    As you can see, once we get the pill bottom we need from pharmacies we can use Pill Care, In
                    addition, We will research most of the different various size pill caps in current market, and Pill
                    Caps will have multiple size which can easily replace the normal caps.
<hr>
                    The figure on the right side is our initial mock-up for our product:
                    <ul>
                        <li>RFID scan place</li>
                        <li>Alarm setting place</li>
                        <li>Speaker and microphone</li>
                      </ul>
                      We will design our product use process easy and simple, especialy for elders,
                      Once the our users finish stick pill caps, they can simply swipe the pill bottle that have our caps to the scaning place and then recoded voice play out loud
                      ,In addition, our alarm setting place will be designed for people who can use smart phones regularly. What's more, our speaker will play out the volum 0-100 for different needs.
                </aside>
                <aside>
                    <img src="p11.jpg" width="500">
                </aside>
            </section>
        </div>

        <div id="item2">
            <h2 class="why">Laws of UI Design</h2>
            <h3 class="why">Miller Law:</h4>
                <section class="why">
                    <aside>
                        Bilibili is one of my favorite video sharing websites（like.Youtube), where users can submit,
                        view and add overlaid commentary on videos. For their remote app(iPad or iPhone), they did a
                        really good job on this law, they will use their video recommendation algorithm to show at most
                        9 videos you may like in your home page, and you can scroll down or up to refresh them.
                    </aside>
                    <aside>
                        <img src="b11.jpg" width="300">
                        <img src="b22.png" width="300">
                    </aside>
                </section>
                <h3 class="why">Jacob's Law:</h4>
                    <section class="why">
                        <aside>
                            While I am switching from MacOS to Windows, first of all, I found out that both systems have
                            almost the same layout for the sidebar(if you click the right corner in MacOS and click left
                            bottom in Windows 11) For instance, they both have the weather information, stock price in
                            real time change, and some breaking news today (user can edit add or remove if they want).
                        </aside>
                        <aside>
                            <img src="win.png" width="300">
                            <img src="mac.png" width="300" height="500">
                        </aside>
                    </section>
                    <h3 class="why">Law of Proximity:</h4>
                        <section class="why">
                            <aside>

                                If you need to write an essay or finish an PPT, even all the things you can do with the
                                Windows office(more cheaper than Windows), I would recommend the app I often use called
                                WPS office. You can easily find the feature or function you want at the top navigation
                                bar, because it already grouped related objects together.

                            </aside>
                            <aside>
                                <img style="vertical-align:top" src="wps1.png" width="500">
                                <img style="vertical-align:top" src="wps2.png" width="500">
                                <img style="vertical-align:top" src="wps3.png" width="500">
                            </aside>
                        </section>
        </div>
        <div id="why">
            <h2 class="why">why you choose us</h2>
            <section class="why1 why">
                <aside>
                    <img src="b1.png" width="80">Exchange pill bottle’s cap and set up voice recording
                </aside>
                <aside>
                    <img src="b2.png" width="100">Alarm at set time
                </aside>
                <aside>
                    <img src="b4.png" width="100">Customized voicing
                </aside>
                <aside>
                    <img src="b5.png" width="100">Detect whether the pill bottle is correct or not</p>
                </aside>
            </section>
        </div>

        <hr>
        <div id="vdo">
            <h2>Check this for more information</h2>
            <li>Here is our video!</li>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/eaYg_9yNvOc"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <hr>
        <div id="contact">
            <h2 class="why">Here is my Team</h2>


            <table class='margin-top-xl'>
                <thead>
                    <tr>
                        <th class='small'> First Name </th>
                        <th class='medium'> Last Name </th>
                        <th class='large'> Email </th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td> {{user[0]}} </td>
                        <td> {{user[1]}} </td>
                        <td> {{user[2]}} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <hr>
        <p><i>Contact Me: </i></p>


        <ul>
            <li><a href="https://www.ece.ucsd.edu/" target="_blank">ECE UCSD Homepage</a></li>

            <li><a href="mailto: j5luo@ucsd.edu?subject=Hello" target="_blank">My Email address</a></li>

        </ul>

        <a href="https://github.com/davidluoucsd" target="_blank"><img src="git.png" alt="myGithub"
                style="width:42px;height:42px;"></a>
        <a href="https://ucsd.edu/" target="_blank"><img src="ucsd.png" alt="mySchool"
                style="width:140px;height:42px;"></a>
    </div>
</body>

</html>