
<!DOCTYPE html>
<html>

    <head>


        <title>Pill Care KVP</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/ljz.css">
        <script type="text/javascript" src="side.js"></script>
    
    </head>


<body>

    <div class="sidebar block" style="width:15%">
        <h3 class="itemBar" style="color: black;">Menu</h3>
        <a href="/" class="itemBar button">Homepage</a>
        <a href="#home" class="itemBar button">Back to Top</a>
        <a href="#kvp" class="itemBar button">Our KVP</a>
        <a href="#comp" class="itemBar button">Our Competitive</a>
        <a href="#vdo" class="itemBar button">More Info</a>
        <a href="#contact" class="itemBar button">Our Team</a>
    </div>

    <div style="margin-left:15%" id="home">

        <ul class="side">
            <li class="side2 side1"> <a class="side2" href="/"><img src="tt2.png" alt="myGithub"
                        style="width:213px;height:70px;"></a></li>
            <li class="side2 side1"><a class="side2" href="#kvp">Our KVP</a></li>
            <li class="side2 side1"><a class="side2" href="#contact">Contact</a></li>
        </ul>
   
        <p> Hello! My name is Junzhe Luo. and I am a EE
            student from UCSD. I am one of member in the team Pill Care </p>



        <hr>
        <div id="kvp">
    <h2 class="why">The Key Value Proposition</h2>
    <section class="why">   
        <aside>
            <p>Our</p>
        </aside>
        <aside>
            Pill Care 
        </aside>
        <aside>
            helps
        </aside>
        <aside>
            family who have elders
        </aside>
        <aside>
            who want
        </aside>
        <aside>
            to take correct pills on time regularly
        </aside>
        <aside>
           by
        </aside>
        <aside>
            reminding elders to take correct type and amount of pill using customized family members' voice records
        </aside>
        <aside>
            and
        </aside>
        <aside>
            give the family a chance to bond the youngs and elders
        </aside>
        <aside>
            unlike
        </aside>
        <aside>
            HERO, Script talk, and CVS's App.
        </aside>
    </section>
</div>
    <hr>
    <div id="comp">
    <h2 class="why">Our Competitive Analysis</h2>
    <section class="why">   
        <aside>
            <h3>Hero</h3>
            <p>Pill dispenser that holds up to 10 types of pills, using sound alarms and auto spit out the desired pills
            </p>
        </aside>
        <aside>
            <img src="hero.jpg" width="250">
        </aside>
        <aside>
            <h3>CVS App</h3>
            <p>The App is able to voice out the prescription with scanning the pill bottle
            </p>
        </aside>
        <aside>
            <img src="cvs.jpg" width="250">
        </aside>
        <aside>
            <h3>Script Talk
            </h3>
            <p>Readable pill bottles and voice machines with pharmacists 
                setting for you. 
            </p>
        </aside>
        <aside>
            <img src="ss.jpg" width="300">
        </aside>
        <aside>
            <img src="t1.png" width="500">
        </aside>
        <aside>
            <img src="t2.png" width="500">
        </aside>

    </section>
</div>
    <hr>
    <div id="why">
    <h2 class="why">why you choose us</h2>
    <section class="why1 why">   
        <aside>
            <img src="b1.png" width="80">Exchange pill bottle’s cap and set up voice recording
        </aside>
        <aside>
            <img src="b2.png" width="100">Alarm at set time
        </aside>
        <aside>
            <img src="b4.png" width="100">Customized voicing
        </aside>
        <aside>
            <img src="b5.png" width="100">Detect whether the pill bottle is correct or not</p>
        </aside>
    </section>
</div>
    <hr>
    <div id="vdo">
      <h2>Check this for more information</h2>
      <li>Here is our video!</li>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/eaYg_9yNvOc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <hr>
      <h2 class="why">Here is my Team</h2>

    
        <table class='margin-top-xl'>
            <thead>
                <tr>
                    <th class='small'> First Name </th>
                    <th class='medium'> Last Name </th>
                    <th class='large'> Email </th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td> {{user[0]}} </td>
                    <td> {{user[1]}} </td>
                    <td> {{user[2]}} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

        <hr>
        <div id="contact">
        <p><i>Contact Me: </i></p>

    
        <ul>
            <li><a href="https://www.ece.ucsd.edu/"
                    target="_blank">ECE UCSD Homepage</a></li>

            <li><a
                    href="mailto: j5luo@ucsd.edu?subject=Hello" target="_blank">My Email address</a></li>

        </ul>

        <a href="https://github.com/davidluoucsd" target="_blank"><img src="git.png" alt="myGithub"
                style="width:42px;height:42px;"></a>
        <a href="https://ucsd.edu/" target="_blank"><img src="ucsd.png" alt="mySchool"
                style="width:140px;height:42px;"></a>
            </div>
</body>
</html>